<template>
    <base-table :data="data"
                thead-classes="text-primary">
      <template slot-scope="{row}">
        <td>
          <p class="title">{{row.title}}</p>
          <p class="text-muted">{{row.text}}</p>
        </td>
        <td>
          <p class="text-muted">{{moment(row.createdAt).lang("es").format('YYYY-MM-DD h:mm:ss')}}</p>
        </td>
        <td class="td-actions text-right">
          <base-button type="link" aria-label="edit button" @click="viewText(row.id)">
            <i class="tim-icons icon-paper"></i>
          </base-button>
        </td>
      </template>
    </base-table>
</template>
<script>
  import {BaseTable} from '@/components' 

  export default {
    name:'TaskList',
    components: {
      BaseTable
    },
    props: ['data'],
    methods:{
      viewText(id)
      { 
        this.$emit('clicked', id)
      }
    }
  }
</script>
<style>
</style>
