<template>
  <div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2>Procesar Textos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <card type="tasks" :header-classes="{'text-right': isRTL}">
          <template slot="header">
            <h6 class="title d-inline">{{$t('dashboard.tasks', {count})}}</h6> 
            <base-dropdown menu-on-right=""
                           tag="div"
                           title-classes="btn btn-link btn-icon"
                           aria-label="Settings menu"
                           :class="{'float-left': isRTL}">
              <i slot="title" class="tim-icons icon-settings-gear-63"></i>
              <a class="dropdown-item" href="#pablo">{{$t('dashboard.dropdown.action')}}</a>
              <a class="dropdown-item" href="#pablo">{{$t('dashboard.dropdown.anotherAction')}}</a>
              <a class="dropdown-item" href="#pablo">{{$t('dashboard.dropdown.somethingElse')}}</a>
            </base-dropdown>
          </template>
          <div class="table-full-width">
            <task-list :data="data" @clicked="link"></task-list>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
  import LineChart from '@/components/Charts/LineChart';
  import BarChart from '@/components/Charts/BarChart'; 
  import TaskList from './Dashboard/TaskList';
  import UserTable from './Dashboard/UserTable';
  import config from '@/config';
  import { mapState } from 'vuex'

  export default {
    name:'Dashboard',
    components: {
      LineChart,
      BarChart,
      TaskList,
      UserTable
    }, 
    data: function () {
        return {
            data: [],
            count: '',
            row:''
        }
    },
    created () { 
      this.tableData()
    }, 
    computed: {
      ...mapState({
          account: state => state.account
      }),
      enableRTL() {
        return this.$route.query.enableRTL;
      },
      isRTL() {
        return this.$rtl.isRTL;
      },
      bigLineChartCategories() {
        return this.$t('dashboard.chartCategories');
      }
    },
    methods: { 
      async tableData() {
        const res = await fetch(`${config.api.apiUrl}/texts/user/${this.account.user.id}`, {method:'GET'}); 
        this.data = await res.json();
        this.count = this.data.length
      },
      link(row) { 
        this.$router.push(`viewtext?item=${row}`)
      }
    } 
  };
</script>
<style>
</style>
