<template>
<form @submit.prevent="process">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">PROCESAR TEXTO NUEVO</h5>
          <p class="category">Ingrese el texto que desea <a href="#">procesar</a></p>
        </div>
        <div class="card-body all-icons">
          <div class="row justify-content-center">
            <div class="col-8">
              <div class="form-group">
                <label for="exampleFormControlInput1">Titulo</label>
                <input type="text" v-model="title" class="form-control" id="exampleFormControlInput1" placeholder="Titulo texto a procesar" :class="{ 'is-invalid': submitted && !title }">
              </div>  
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Texto a procesar</label>
                <textarea class="form-control" maxlength="120" v-model="text" id="exampleFormControlTextarea1" rows="3" placeholder="Contenido del texto a procesar" :class="{ 'is-invalid': submitted && !text }"></textarea>
              </div>
            </div>  
          </div>
        </div>
          <div class="card-footer">
            <button class="btn btn-primary float-right" @click="saveAndExit" :disabled="canSave">Grabar y salir</button>
            <button class="btn btn-info float-right">Procesar</button>
        </div>
      </div>

      <div class="card" v-show="seen" id="hide">
        <div class="card-header">
          <h2 class="title">RESUMEN</h2>
          <p class="category">Palabras procesadas</p>
        </div>
        <div class="card-body all-icons">
          <div class="row justify-content-center">
            <div class="col-8"> 
              <p><strong>Palabras encontradas;</strong> {{words}};</p>
              <p><strong>Total de caracteres del texto;</strong> {{wordslength}}</p>
              <p><strong>Total de palabras unicas encontradas en el texto;</strong> {{unique}}</p>
            </div>  
          </div>
        </div> 
      </div>

    </div>
  </div>
</form>
</template>
<script>
import { mapState } from 'vuex'
import { clean, count } from '@/_services/wordProcessor'
import config from '@/config'

export default {
  data () {
      return {
          title: '',
          text: '',
          unique:'',
          wordslength: '',
          words: '',
          submitted: false,
          seen: false,
          canSave:true
      }
  },
  created () { 
  }, 
  computed: {
        ...mapState({
            account: state => state.account
        })
  },
  methods: {
      process () { 
          const cleanedContent = clean(this.text)
          const result = count(cleanedContent)
          let words = ''
          this.submitted = true; 
          this.unique = result.otherData.unique
          this.wordslength = result.otherData.wordslength 
          this.seen = true 
          this.canSave = false
          for (const [key, value] of Object.entries(result.map)) {
            words +=  ` ${key}(${value}),`;
          } 
          
          this.words = words.slice(0, -1)
      },
      async saveAndExit (){
        const res = await fetch(`${config.api.apiUrl}/texts/save`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },

          // pass in the information from our form
          body: JSON.stringify({
              userId: this.account.user.id,
              title: this.title,
              text: this.text,
              unique: this.unique,
              wordslength: this.wordslength,
              words: this.words,
          }) 
        });

        if(res.ok){
          this.$router.push('/')
        } 
      }
  } 
};
</script>
<style>
.hide {
    visibility: hidden !important;
}
</style>
