<template> 
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">PROCESAR TEXTO NUEVO</h5>
          <p class="category">Ingrese el texto que desea <a href="#">procesar</a></p>
        </div>
        <div class="card-body all-icons">
          <div class="row justify-content-center">
            <div class="col-8">
              <div>
                <h3>{{data.title}}</h3>
              </div>  
              <div>
              <p>{{data.text}}</p>
              </div>
            </div>  
          </div>
        </div> 
      </div>

      <div class="card">
        <div class="card-header">
          <h2 class="title">RESUMEN</h2>
          <p class="category">Palabras procesadas</p>
        </div>
        <div class="card-body all-icons">
          <div class="row justify-content-center">
            <div class="col-8"> 
              <p><strong>Palabras encontradas;</strong> {{data.words}};</p>
              <p><strong>Total de caracteres del texto;</strong> {{data.wordslength}}</p>
              <p><strong>Total de palabras unicas encontradas en el texto;</strong> {{data.unique}}</p>
            </div>  
          </div>
        </div> 
      </div>
    </div>
  </div> 
</template>
<script>
import { mapState } from 'vuex'
import { clean, count } from '@/_services/wordProcessor'
import config from '@/config'

export default {
  data () {
      return {
          data:''
      }
  },
  created () { 
    this.getTextData()
  }, 
  computed: {
        ...mapState({
            account: state => state.account
        })
  },
  methods: {
      async getTextData() {
        if(typeof (this.$route.query.item) == 'undefined'){
          this.$router.push('/')
          return
        }  
        const res = await fetch(`${config.api.apiUrl}/texts/${this.$route.query.item}/user/${this.account.user.id}`, {method:'GET'}); 
        this.data = await res.json(); 
      }
  } 
};
</script>
<style> 
</style>
