<template>
  <div class="wrapper mw-100">
    <div class="row no-gutters align-middle p-3">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"> 
          <dashboard-content></dashboard-content>
          <content-footer></content-footer> 
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
  import TopNavbar from "./SampleNavbar.vue";
  import ContentFooter from "./SampleFooter.vue";
  import DashboardContent from "./Content.vue";
  import MobileMenu from "./MobileMenu";
  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu
    },
    methods: {
      toggleSidebar() {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false);
        }
      }
    }
  };
</script>
